#image_preview {
    display: inline-block;
  }
  
  .col-md-4 {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 33.33%
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.navbar-brand {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.subtitle-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

